@page "/Employees"
@using BlazorApp.Shared
@inject HttpClient Http


<h1>Employees</h1>

<button @onclick="CreateCase"></button>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class = table-scrollable>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>No. of Warrants</th>
                <th>Ownership</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                    <td>@employee.PhoneNumber</td>
                </tr>
            }
            </tbody>    
        </table>
    </div>

}


@code {
    private Employee[] employees = [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            employees = await Http.GetFromJsonAsync<Employee[]>("/api/GetEmployee") ?? [];
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private async void CreateCase()
    {
        try
        {
            await Http.PostAsync("/api/CreateCase?id=AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAA1", null);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}